@using National_Healthcare_System.Utility
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>NHS- @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color: aliceblue">
    <header>
        <nav class="navbar navbar-expand navbar-light border-bottom mb-2">
            <div class="container-left-align">
                <a class="navbar-brand text-md" asp-area="" asp-page="/Index">
                    <img src="~/NHSlogo-01.svg" width="50" height="50" alt=" ">National Healthcare System
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index"> Home</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @if (!User.IsInRole(Static_Details.PatientUser))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Doctors/Index">Doctors Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/DoctorSchedule/Index">My Schedule</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Check-up/AddCheckUp">Check Up</a>
                                </li>
                            }
                            @if (User.IsInRole(Static_Details.AdminUser))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Organizations/Index">Organization</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Views/AllUsers/Index">AllUsersLists</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Views/ViewDoctorList/Index">Doctor List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Consultations/Index"> Consultations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Prescriptions/Index"> Prescriptions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Medications/Index"> Medications</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Diagnostics/Index"> Diagnostics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Views/BloodGroups/Index"> Blood Search</a>
                            </li>

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer pl-3 text-white-50" style=" background-color: #040063;">
        <div class="container-left-align">
            <div class="row">
                &copy; 2020 - National Health Care System - <a class="text-white" asp-area="" asp-page="/Privacy">Privacy |</a>
                <a class="text-white" asp-area="" asp-page="/About Us"> | About Us</a>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
