@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-md-left">
    <h3 class="display-4">Welcome to</h3>
    <div class="text-center">
        <h1 class="display-3">National Healthcare System</h1>
        <h6 class="display-4">Caring for Bangladesh</h6>
    </div>
    <div class="row p-md-5">
        <div class="col-4">
            <img src="~/DoctorImageForLandingPage.svg" alt="Could Not Load Image" width="400" height="300" />
        </div>
        
        <div class="col-8 text-right text-justify">
            <article>This is a website for Medical purpose. It is still in development</article>
        </div>
    </div>
    <p class="p-md-3 bg-danger text-center text-white rounded-pill">Wear Mask and Stay Healthy During this Pandemic. If you start to experience COVID-19 symptoms
    contact 16263.
    </p>
    <div class="row p-3">
        <div class="col-3">
            </div>
        <div class="col-6 align-content-center">
            <div class="flourish-embed flourish-chart" data-src="story/230110">
            <script src="https://public.flourish.studio/resources/embed.js"></script></div>
        </div>

    </div>
  
</div>


